

/* Red button styles */
.red-button {
    background-color: #f44336; /* Red color */
}

.red-button:hover {
    background-color: #da190b; /* Dark red color */
}

.red-button:hover .text-white {
    font-weight: bold; /* Bolden text on hover */
}