body {
    position: relative;
    background: cover no-repeat fixed url('assets/img/mentalHealth.jpeg');
}

/* Watermark effect */
.logo-watermark {
    position: fixed;
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
    bottom: 20px;
    right: 20px;
    width: 200px;
    transform: rotate(30deg) scale(1.5);
}

/* Glassmorphism effect */
.glassmorphism {
    background-color: rgba(255, 255, 255, 0.3); /* Background color with transparency */
    -webkit-backdrop-filter: blur(10px); /* Blur effect */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
}

/* Red button styles */
.red-button {
    background-color: #f44336; /* Red color */
}

.red-button:hover {
    background-color: #da190b; /* Dark red color */
}

.red-button:hover .text-white {
    font-weight: bold; /* Bolden text on hover */
}