/* Custom styles can be added here */
.counselor-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
  position: relative;
  background-image: url('assets/img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.logo-watermark {
  position: fixed;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
  bottom: 20px;
  right: 20px;
  width: 200px;
  transform: rotate(30deg) scale(1.5);
}

.appointment-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-form label {
  display: block;
  margin-bottom: 10px;
}

.appointment-form input,.appointment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.appointment-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-form button[type="submit"]:hover {
  background-color: #3e8e41;
}